HelloWorld/obj/
HelloWorld/bin/Debug/
ImageDownloaderV1/obj/
ImageDownloaderV1/bin/Debug/
ImageDownloaderV2/obj/
ImageDownloaderV2/bin/Debug/
ImageDownloaderV3/obj/
ImageDownloaderV3/bin/Debug/
ImageDownloaderV4/obj/
ImageDownloaderV4/bin/Debug/