HelloWorld/obj/
HelloWorld/bin/Debug/
ImageDownloaderV1/obj/
ImageDownloaderV1/bin/Debug/
ImageDownloaderV2/obj/
ImageDownloaderV2/bin/Debug/
ImageDownloaderV3/obj/
ImageDownloaderV3/bin/Debug/
ImageDownloaderV4/obj/
ImageDownloaderV4/bin/Debug/
MyLibrary/obj/
MyLibrary/bin/Debug/
MyProject/obj/
MyProject/bin/Debug/
MyLibrary2/obj/
MyLibrary2/bin/Debug/
MyProject2/obj/
MyProject2/bin/Debug/
Overloading/obj/
Overloading/bin/Debug/
OverloadingLib/obj/
OverloadingLib/bin/Debug/
TXT2DB/obj/
TXT2DB/bin/Debug/
TXT2DBV8/obj/
TXT2DBV8/bin/Debug/
TXT2DBV8_MariaDB10/obj/
TXT2DBV8_MariaDB10/bin/Debug/
Deserialize01/obj/
Deserialize01/bin/Debug/
Deserialize02/obj/
Deserialize02/bin/Debug/
MariaDB_ADO_NET_01/obj/
MariaDB_ADO_NET_01/bin/Debug/
AspNetCoreInDocker/obj/
AspNetCoreInDocker/bin/Debug/
AspNetCoreInDocker/bin/Release/
AspNetCoreInDocker01/obj/
AspNetCoreInDocker01/bin/Debug/
AspNetCoreInDocker01/bin/Release/
AspNetCoreInDocker02/obj/
AspNetCoreInDocker02/bin/Debug/
AspNetCoreInDocker02/bin/Release/
AspNetCoreInDocker03/obj/
AspNetCoreInDocker03/bin/Debug/
AspNetCoreInDocker03/bin/Release/
ExpenseAPI/obj/
ExpenseAPI/bin/Debug/
ExpenseAPI/bin/Release/
ExpenseAPI2/obj/
ExpenseAPI2/bin/Debug/
ExpenseAPI2/bin/Release/
HelloWorld_webAPI/obj/
HelloWorld_webAPI/bin/Debug/
HelloWorld_webAPI/bin/Release/