HelloWorld/obj/
HelloWorld/bin/Debug/
ImageDownloaderV1/obj/
ImageDownloaderV1/bin/Debug/
ImageDownloaderV2/obj/
ImageDownloaderV2/bin/Debug/
ImageDownloaderV3/obj/
ImageDownloaderV3/bin/Debug/
ImageDownloaderV4/obj/
ImageDownloaderV4/bin/Debug/
MyLibrary/obj/
MyLibrary/bin/Debug/
MyProject/obj/
MyProject/bin/Debug/
MyLibrary2/obj/
MyLibrary2/bin/Debug/
MyProject2/obj/
MyProject2/bin/Debug/
Overloading/obj/
Overloading/bin/Debug/
OverloadingLib/obj/
OverloadingLib/bin/Debug/
TXT2DB/obj/
TXT2DB/bin/Debug/
